.custom-font {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }
.content-margin {
    margin-top: 100px;
}